{% extends "core/base.html" %}
{% load static %}
{% block title %}
ChatGPT
{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <p>Ответ: <code>{{ answer }}</code></p>
            <form action="" method="post">
                {% csrf_token %}
                <label for="whoissystem">В какой роле выступает собеседник:</label>
                <input type="text" name="whoissystem" id="whoissystem" required class="form-control mb-3">
                <label for="chatquestion">Задайте свой вопрос:</label>
                <textarea name="chatquestion" id="chatquestion" cols="30" rows="10" class="form-control mb-3"
                    required></textarea>
                <button type="submit" class="btn btn-dark">Получить ответ!</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}