{% extends "tasks/tasks.html" %}
{% load static %}
{% block title %}
{{ title }}
{% endblock title %}
{% block delegatedtasks %}
<a href="{% url 'delegatedtasks' %}" class="btn btn-dark active" aria-current="page">Перепорученные задачи</a>
{% endblock delegatedtasks %}
{% block th_employee %}<th scope="col">Делегирована</th>{% endblock th_employee %}
{% block action_modals %}
<div class="modal fade" id="{{ task.pk }}Modal3" aria-hidden="true" aria-labelledby="{{ task.pk }}ModalLabel3"
    tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="{{ task.pk }}ModalLabel3">
                    Отклонение задачи
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'task_to_receive' task.pk %}" method="post">
                    {% csrf_token %}
                    <label for="id_comments">Замечания</label>
                    <textarea name="comments" id="id_comments" class="form-control" cols="30" rows="10"
                        required=""></textarea>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="reset" data-bs-target="#{{ task.pk }}Modal"
                    data-bs-toggle="modal">Назад</button>
                <button class="btn btn-warning" type="submit">Отклонить</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock action_modals %}
{% block action %}
{% if task.status == 'FI' %}
<a href="{% url 'task_solve' task.pk %}" class="btn btn-success">Принять</a>
<button class="btn btn-warning" data-bs-target="#{{ task.pk }}Modal3" data-bs-toggle="modal">Отклонить</button>
{% endif %}
{% endblock action %}
{% block tr_employee %}
<td>{{ task.delegated_employee}}</td>
{% endblock %}