{% extends "tasks/tasks.html" %}
{% load static %}
{% block title %}
{{ title }}
{% endblock title %}
{% block newtasks_button %}
<a href="{% url 'newtasks' %}" class="btn btn-dark active" aria-current="page">Поступившие задачи</a>
{% endblock newtasks_button %}
{% block action_modals %}
<div class="modal fade" id="{{ task.pk }}Modal2" aria-hidden="true" aria-labelledby="{{ task.pk }}ModalLabel2"
    tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="{{ task.pk }}ModalLabel2">
                    Делегирование задачи
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <label for="id_delegated_employee">Перепоручить:</label>
                    <select name="delegated_employee" id="id_delegated_employee" class="form-control">
                        <option value="" selected=""></option>
                        {% for i in delegate_list %}
                        <option value="{{ i.pk }}"> {{ i }} </option>
                        {% endfor %}
                    </select>
                    <input type="hidden" name="taskpk" value="{{ task.pk }}">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-target="#{{ task.pk }}Modal" data-bs-toggle="modal"
                        type="reset">Назад</button>
                    <button class="btn btn-success" type="submit">Перепоручить</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock action_modals %}
{% block action %}
<a href="{% url 'task_accept' task.pk %}" class="btn btn-dark">Принять задачу</a>
{% if 'TD' in privileges%}
<button class="btn btn-warning" data-bs-target="#{{ task.pk }}Modal2" data-bs-toggle="modal">Делегировать
    задачу</button>
{% endif %}
{% endblock action %}