{% extends "tasks/tasks.html" %}
{% load static %}
{% block title %}
{{ title }}
{% endblock title %}
{% block solvedtasks_button %}
<a href="{% url 'tasks' %}" class="btn btn-dark active" aria-current="page">Завершенные задачи</a>
{% endblock solvedtasks_button %}
{% block th_employee %}<th scope="col">Исполнитель</th>{% endblock th_employee %}
{% block action_modals %}
<div class="modal fade" id="{{ task.pk }}Modal2" aria-hidden="true" aria-labelledby="{{ task.pk }}ModalLabel2"
    tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="{{ task.pk }}ModalLabel2">
                    Удаление задачи
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                Вы действительно хотите удалить задачу "{{ task.title }}"
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-target="#{{ task.pk }}Modal"
                    data-bs-toggle="modal">Назад</button>
                <form action="{% url 'task_delete' task.pk %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit">Удалить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock action_modals %}
{% block action %}
{% if user.profile.employee == task.created_who %}
<button class="btn btn-danger" data-bs-target="#{{ task.pk }}Modal2" data-bs-toggle="modal">Удалить</button>
{% endif %}
{% endblock action %}
{% block tr_employee %}
<td>{{ task.target_employee}}</td>
{% endblock %}